<a href="https://colab.research.google.com/github/toshmanuel/Data_Analysis_With_Python/blob/main/data_science_from_scratch.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [34]:
users = [
      { "id": 0, "name": "Hero" },
      { "id": 1, "name": "Dunn" },
      { "id": 2, "name": "Sue" },
      { "id": 3, "name": "Chi" },
      { "id": 4, "name": "Thor" },
      { "id": 5, "name": "Clive" },
      { "id": 6, "name": "Hicks" },
      { "id": 7, "name": "Devin" },
      { "id": 8, "name": "Kate" },
      { "id": 9, "name": "Klein" }  
]

In [35]:
friendships = [(0, 1), (0, 2), (1, 2), (1, 3), (2, 3), (3, 4),(4, 5), (5, 6), (5, 7), (6, 8), (7, 8), (8, 9)]

In [36]:
for user in users:
  # print(user["name"])
  # print(user.get("id"))
  user["friends"] = []

In [37]:
users

[{'friends': [], 'id': 0, 'name': 'Hero'},
 {'friends': [], 'id': 1, 'name': 'Dunn'},
 {'friends': [], 'id': 2, 'name': 'Sue'},
 {'friends': [], 'id': 3, 'name': 'Chi'},
 {'friends': [], 'id': 4, 'name': 'Thor'},
 {'friends': [], 'id': 5, 'name': 'Clive'},
 {'friends': [], 'id': 6, 'name': 'Hicks'},
 {'friends': [], 'id': 7, 'name': 'Devin'},
 {'friends': [], 'id': 8, 'name': 'Kate'},
 {'friends': [], 'id': 9, 'name': 'Klein'}]

In [38]:
for i, j in friendships:
  users[i]["friends"].append([j])
  users[j]["friends"].append([i])

for user in users:
  print(user)

{'id': 0, 'name': 'Hero', 'friends': [[1], [2]]}
{'id': 1, 'name': 'Dunn', 'friends': [[0], [2], [3]]}
{'id': 2, 'name': 'Sue', 'friends': [[0], [1], [3]]}
{'id': 3, 'name': 'Chi', 'friends': [[1], [2], [4]]}
{'id': 4, 'name': 'Thor', 'friends': [[3], [5]]}
{'id': 5, 'name': 'Clive', 'friends': [[4], [6], [7]]}
{'id': 6, 'name': 'Hicks', 'friends': [[5], [8]]}
{'id': 7, 'name': 'Devin', 'friends': [[5], [8]]}
{'id': 8, 'name': 'Kate', 'friends': [[6], [7], [9]]}
{'id': 9, 'name': 'Klein', 'friends': [[8]]}

In [39]:
users

[{'friends': [[1], [2]], 'id': 0, 'name': 'Hero'},
 {'friends': [[0], [2], [3]], 'id': 1, 'name': 'Dunn'},
 {'friends': [[0], [1], [3]], 'id': 2, 'name': 'Sue'},
 {'friends': [[1], [2], [4]], 'id': 3, 'name': 'Chi'},
 {'friends': [[3], [5]], 'id': 4, 'name': 'Thor'},
 {'friends': [[4], [6], [7]], 'id': 5, 'name': 'Clive'},
 {'friends': [[5], [8]], 'id': 6, 'name': 'Hicks'},
 {'friends': [[5], [8]], 'id': 7, 'name': 'Devin'},
 {'friends': [[6], [7], [9]], 'id': 8, 'name': 'Kate'},
 {'friends': [[8]], 'id': 9, 'name': 'Klein'}]

In [40]:
def number_of_friends(user):
  return len(user["friends"])

In [43]:
num_list =[]
counter = 0
for user in users:
  num_list.append(number_of_friends(user))
  counter = counter + 1
print(sum(num_list))

24

In [45]:
print(sum(num_list)/ counter)

2.4

In [42]:
print(sum([number_of_friends(user) for user in users]))

24

In [47]:
print(sum([number_of_friends(user) for user in users]) / len(users) )

2.4